
<h1>Search Employee</h1>

  <div>
    <label>Employee name : </label>
   <input type="text" >   &nbsp; <button class="btn btn-success">Search</button>
  </div>
<div>
    <!-- <ul class="employee">
        <li *ngFor="let employee of employees"
          [class.selected]="employee === selectedHero"
          (click)="onSelect(employee)">
          <span class="badge">{{employee.id}}</span> {{employee.name}}
        </li>
      </ul> -->
     <app-employee-list></app-employee-list>
  </div>   
    
